:root {
  --white: #fff;
  --black: #000;
  --user-color: rgb(43, 206, 212);
  --bot-color: rgb(212, 43, 122);
}


#chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: 65px;
  background-color: var(--black);
  color: var(--white);
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 34px 8px 34px 34px;
}

#chatbot-icon:hover {
  background-color: var(--user-color);
  color: var(--black);
  transform: scale(1.15);
}

#chatbot-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 400px;
  height: 500px;
  background-color: var(--black);
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

#chatbot-header {
  background-color: var(--black);
  color: var(--white);
  padding: 18px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  border-bottom: 2px solid var(--user-color);
}

#close-btn {
  background: none;
  border: none;
  color: var(--white);
  font-size: 24px;
  cursor: pointer;
}

#chatbot-body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: var(--black);
  color: var(--white);
  font-family: 'Arial', sans-serif;
}

#chatbot-messages {
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 12px;
  max-width: 85%;
  word-wrap: break-word;
  transition: all 0.3s ease;
}

.message.user {
  background-color: var(--user-color);
  color: var(--black);
  align-self: flex-end;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.message.bot {
  background-color: var(--bot-color);
  color: var(--white);
  align-self: flex-start;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

#chatbot-input-container {
  display: flex;
  padding: 12px;
  border-top: 2px solid var(--user-color);
  background-color: var(--black);
}

#chatbot-input {
  flex: 1;
  padding: 12px;
  border: 2px solid var(--user-color);
  border-radius: 15px;
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
}

#send-btn {
  margin-left: 15px;
  padding: 12px 18px;
  background-color: var(--user-color);
  color: var(--black);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
}

#send-btn:hover {
  background-color: var(--black);
  color: var(--user-color);
  transform: scale(1.05);
}
@media only screen and (max-width:768px){
  #chatbot-container {
    position: fixed;
    bottom: 80px;
    right: 30px;
    width: 350px;
    height: 400px;
}
}
@media only screen and (max-width:500px){
    #chatbot-container{
      width: 100vw;
      right: 0px;
    }
}